.animated {
  opacity: 0;
  transition: transform 2000ms ease-in-out, opacity 2000ms ease-in-out;
}

/* FLIP */
.animated.flip {
  opacity: 1;
}
.animated.flip .front {
  transform: perspective(600px) rotateY(0deg);
}
.animated.flip .back {
  transform: perspective(600px) rotateY(180deg);
}
.animated.flip-in .front {
  transform: perspective(600px) rotateY(180deg);
}
.animated.flip-in .back {
  transform: perspective(600px) rotateY(360deg);
}

/* FADE */
.animated.fade-in {
  opacity: 1;
}

/* SLIDE */
.animated.slide.up {
  transform: translateY(3.2rem);
}
.animated.slide.left {
  transform: translateX(5rem);
}
.animated.slide.right {
  transform: translateX(-5rem);
}
.animated.slide-in {
  transform: translate(0) !important;
  opacity: 1;
}

/* SCALE */
.animated.scale {
  transform: scale(0.75);
}
.animated.scale-in {
  transform: scale(1) !important;
  opacity: 1;
}

/* DELAYS */
.animated.delay-1 {
  transition-delay: 100ms;
}
.animated.delay-2 {
  transition-delay: 200ms;
}
.animated.delay-3 {
  transition-delay: 300ms;
}
.animated.delay-4 {
  transition-delay: 400ms;
}
.animated.delay-5 {
  transition-delay: 500ms;
}
.animated.delay-6 {
  transition-delay: 600ms;
}
.animated.delay-7 {
  transition-delay: 700ms;
}
.animated.delay-8 {
  transition-delay: 800ms;
}
.animated.delay-9 {
  transition-delay: 900ms;
}
.animated.delay-10 {
  transition-delay: 1000ms;
}
